:root {
    --primary: #0d6efd;   /* Blue */
    --secondary: #6c757d; /* Gray */
    --success: #198754;   /* Green */
    --info: #0dcaf0;      /* Cyan */
    --warning: #ffc107;   /* Yellow */
    --danger: #dc3545;    /* Red */
    --light: #f8f9fa;     /* Light Gray */
    --dark: #212529;      /* Dark Gray */
  }
  

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.primary-navbar{
    display: flex;
    justify-content: space-between;

}
.primary-navbar ul{
    display: flex;
}

.primary-navbar ul li{
    list-style-type: none;
    padding: .3rem;
margin-top: 1rem;
color: white;
}

.primary-navbar ul li a{
   text-decoration: none;
   color: white;
}

.primary-navbar ul li select{
    border: none;
    color: white;
}

.menu{
display: flex;
margin: 0;
padding: 0 .5rem;
}

.menu .menu-btn{
    border: none;
    background-color: transparent;
}

.menu ul li a{
    color: black;
    font-weight: 500;
}

.menu .active{
    font-weight: 700;
}
.banner{
    color: var(--w-primary);
    margin: 50px;
    width: 90%;
    height: 400px;
    line-height: 20px;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.ban{
    font-size: 30pt;
    font-weight: 400px;

}
.just{
    font-size: 25pt;
}

.middle{
    
    
    margin: 50px;
    width: 90%;
    border: 1px solid black;
    border-radius: 15px;
    padding-top: 20px;
}
.container{
    display: flex;
    
}
.container i{
    color: var(--primary);
    background-color: var(--light);
}
#product{
    margin-left: 5%;
}

.popular-products{
  padding: 0;
  margin: 0;
    width: 90%;
}

.card-img-top{
    
}
.popular-products i{
    color: gold;

}
.popular-products .in-active{
    color: lightgrey;
}
.ratings{
    display:flex;
}
.ratings > *{
    padding: 10px;
    color: lightgrey;
}
.popular-products{
    display:flex;
    margin: 3rem;
    justify-content: space-between;
}
.popular-products > *{
    padding: .5rem;
}